/*  BASE STYLES ============================ */
html {
	font-size: 16px;
	width: 100%;
}

body {
	font-size: 1em;
	/*max-width: 1200px; */
	width: 96%;
	margin: 0 auto; 
	font-family: 'Montserrat', 'merriweather sans', sans-serif;
}

p {
	line-height: 1.3em;
	font-size: .875em;
}

h1,
h3,
h4 {
	color: #111;
	text-transform: uppercase;
}

.top-section,
.bottom-section {
	width: 100%;
	margin: 10 auto;
	clear: both;
}

/*  HEADER & NAV =========================== */

header {
	width: 100%;
	margin: 10px auto;
	display: block;
}

header h1 {
	font-size: 1.875em;
	text-align: center;
	padding: 30px;
	margin: auto;
}

header h1 span {
	color: #77a466;
}

header nav {
	margin: 10px auto;
}

header nav a {
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #111;
	font-weight: 600;
	padding: 5px;
}

header nav a .top {
	/*margin-top: 10px;*/
}

/*  TOP SECTION ============================ */

.main-image {
	width: 100%;
	height: auto;
}

.main-image img {
	width: 100%;
	margin: auto;
	display: block;
	border-top: 2px solid #77a466;
	border-bottom: 2px solid #77a466;
}

.main-title h3 {

}

.main-title p {

}

.main-title p span {

}



/*  BOTTOM SECTION ========================= */


.bottom-section h4 {

}

.section-one,
.section-two,
.section-three {

}

.menu {

}

.menu li {

}

.address {

}

/*  FOOTER ================================= */

footer {
	width: 100%;
	height: 60px;
}

footer span {
	font-family: "mr dafoe", cursive;
}

/*  TABLET ================================= */
@media all and (min-width: 768px) {

}

/*  DESKTOP ================================ */
@media and all (min-width: 940px) {

}